* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0p;
}

nav {
    background-color: white;
    overflow: hidden;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    width:100%;
    margin: 10px;
    margin-right: 20px;
}

nav .responsive {
  height:35px;
}

nav right {
    float: right;
    color:black;
    padding: 0px 0px 0px 20px;
    text-decoration: none;
}
header {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header div .responsive{
  width: 100%;
}

header div {
  flex: 30%;
  margin: 40px;
  max-width: 350px;
}

