* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

nav {
    background-color: white;
    overflow: hidden;
}

nav .responsive {
  height:35px;
}

nav {
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    width:100%;
}

nav right {
    float: right;
    color:black;
    padding: 0px 0px 0px 20px;
    text-decoration: none;
}
header {
    display: flex;
    flex-wrap: wrap;
}

header div .responsive{
  width: 100%;
  flex: 25%;
  margin: 40px;
}

header div {

  flex: 25%;
  margin: 40px;
}

